In [1]:
list1=list(input("enter elements in list:").split(" "))

enter elements in list: 1 2 3 4

In [5]:
list1=tuple(list1)

In [6]:
type(list1)

tuple

In [7]:
'3' in list1

True

In [8]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [9]:
tup=[1,2,3,[4,5]]
print(tup)

[1, 2, 3, [4, 5]]

In [10]:
del tup[3]

In [11]:
tup

[1, 2, 3]

In [2]:
class Employee:
    pass
emp_1=Employee()
name=input("enter your name: ")
emp_1.name= name
emp_1.salary=35000
print(emp_1.name)
print(emp_1.salary)

enter your name:  sana

sana
35000

In [4]:
print(type(Emplopee))

<class 'type'>

In [5]:
type(emp_1)

__main__.Employee

In [6]:
type(emp_1.salary)

int

In [10]:
class manager:
    def __init__(self,name,department,salary):
        self.name=name
        self.department=department
        self.salary=salary
name=input("enter your name:")
department=input("enter department name:")
salary=int(input("enter salary:"))
manager_1=manager(name,department,salary)
print(manager_1.name)
print(manager_1.department)
print(manager_1.salary)

enter your name: sana
enter department name: ai
enter salary: 10000

sana
ai
10000

In [13]:
class Car:
    def setname(self,name):
        self.name=name
    def getname(self):
        return self.name

Honda=Car()
carname=input("enter the car name")
Honda.setname(carname)
print("name of the car is:",Honda.getname())

enter the car name benz

name of the car is: benz

In [17]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
name=input("enter the name :")
age =int(input("enter thr age:"))
student_1=Student(name,age)
print(student_1.name)
print(student_1.age)
name=input("enter the name :")
age =int(input("enter thr age:"))
student_2=Student(name,age)
print(student_2.name)
print(student_2.age)

enter the name : SANA
enter thr age: 22

SANA
22

enter the name : BEGUM
enter thr age: 22

BEGUM
22